<form class="ui segment form" action="/member/editMemberDetails" method="POST">
  <h3>Edit Your Details</h3>
  <div class="four fields">
    <div class="field">
      <label>First Name</label>
      <input placeholder="First Name" type="text" name="firstname" minlength="1">
    </div>
    <div class="field">
      <label>Last Name</label>
      <input placeholder="Last Name" type="text" name="lastname" minlength="1">
    </div>
    <div class="field">
      <label>Email</label>
      <input placeholder="Email" type="text" name="email" minlength="1">
    </div>
    <div class="field">
      <label>Password</label>
      <input placeholder="Password" type="password" name="password" minlength="1">
    </div>
  </div>
  <button class="ui blue submit button">Edit Member Details</button>
</form>