{{> menu id="about"}}

<section class="ui center aligned middle aligned segment">
  <h3 style="font-family: 'Lucida Calligraphy'">
    <em>Your trusted source of weather updates. Life can be unpredictable but
      the weather doesn't have to be.</em>
  </h3>
  <img class="ui centered rounded massive image" src="/public/images/about.jpg">
  <br>
  <br>
  <p>
    Created by Weather-Top Inc.
  </p>
</section>
<br>