{{> menu }}
<section class="ui segment">
  <h2 class="ui center aligned header">
    {{station.name}}
  </h2>
    {{>latestReading station}}
    {{>listReading station}}
    {{>addReading station}}
</section>
<br>