{{> menu }}
<section class="ui segment">
  <h2 class="ui center aligned header">
    {{station.name}}
  </h2>
  {{#if station.latestReading != null }}
  {{latestReading station:station,latestReading: station.latestReading }}
  {{/if}}
  {{>listReading station:station }}
  {{>addReading station:station }}
</section>
<br>