{{> menu }}
<section class="ui segment">
  <h2 class="ui center aligned header">
    {{viewData.station.name}}
    {{#each viewData.station.readings}}
      {{code}}
    {{/each}}
  </h2>
  {{#each viewData.station}}
  {{>listReading }}
  {{>addReading}} 
</section>
<br>