{{> menu }}
<section class="ui segment">
  <h2 class="ui center aligned header">
    {{viewData.station.name}}
    {{viewData.station.readings}}
  </h2>
  {{>listReading }}
  {{>addReading}} 
</section>
<br>